.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NavBar Link Styless */
:root {
  --primary-white: #fff;
  --primary-theme: #9702ee;
}

.Nav__link {
  color: var(--primary-white) !important;
}

.Nav__logo {
  width: 5rem;
  height: 3rem;
}
.navbar-bgnd {
  background-color: var(--primary-theme) !important;
}

.d-flex {
  width: 22rem;
}


